@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body {
    margin: 0;
    background-image: radial-gradient(circle, #fffce3, #e8eccd, #ceddb9, #b2cea8, #95bf9a, #7cb89a, #60b09c, #40a8a0, #1ba3b0, #0a9bbd, #3192c5, #5887c5);
    font-family: 'Prata', serif;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-image: radial-gradient(circle, #fffce3, #e8eccd, #ceddb9, #b2cea8, #95bf9a, #7cb89a, #60b09c, #40a8a0, #1ba3b0, #0a9bbd, #3192c5, #5887c5);
    padding-bottom: 60px;
    padding-top: 60px;
}

.main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
}

}