@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body {
    margin: 0;
    background-image: radial-gradient(circle, #fffce3, #e8eccd, #ceddb9, #b2cea8, #95bf9a, #7cb89a, #60b09c, #40a8a0, #1ba3b0, #0a9bbd, #3192c5, #5887c5);
    font-family: 'Prata', serif;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}

img, .img1 {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-image: radial-gradient(circle, #fffce3, #e8eccd, #ceddb9, #b2cea8, #95bf9a, #7cb89a, #60b09c, #40a8a0, #1ba3b0, #0a9bbd, #3192c5, #5887c5);
    padding-bottom: 60px;
    padding-top: 60px;
}

.main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
}

.two-column {
	text-align: center;
	font-size: 0;
}

.two-column .column {
	width: 100%;
	max-width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.one-column {
    text-align: center;
    font-size: 2.375rem;
}

.one-column .column {
    width: 100%;
}

.header {
    padding: 10px;
}

.header, br {
    margin-left: 75px;
}

.two-column {
	padding: 15px 0;
}

.two-column .padding {
    padding: 20px;
}

.two-column .content {
    font-size: 15px;
	line-height: 20px;
	text-align: center;
    color: #ffffff;
}

.button {
	background-color: #6AAC8C;
	color: black;
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 5px;
	font-weight: 600;
}

i {
    color: #0a4d39;
}